.stt-prospek{
	background: #3598DC;
    color: #fff;
    padding: 2px 1em;
    border-radius: 10px !important;
}
.stt-survey{
	background: #C49F47;
    color: #fff;
    padding: 2px 1em;
    border-radius: 10px !important;
}
.stt-terlaksana,
.stt-pelanggan{
	background: #26C281;
    color: #fff;
    padding: 2px 1em;
    border-radius: 10px !important;
}
.stt-belum.terlaksana,
.stt-batal{
	background: #E43A45;
    color: #fff;
    padding: 2px 1em;
    border-radius: 10px !important;
}
.txt-role,
.txt-nama_marketing,
.txt-nama_pelanggan{
	font-weight: bold;
}